{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div class="alert alert-danger">Are you sure you want to delete
        the actor {{actor.first_name}} {{actor.last_name}} ?
    </div>
    <input type="submit" value="OK" class="btn btn-danger"/>
    <a href="/actors" class="btn btn-success">Cancel</a>
</form>

{{/block}}

{{/extends}}