{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div>
        <label>Title</label>
        <input type="text" name="title" class="form-control"/>
    </div>
    <div>
        <label>Description</label>
        <textarea class="form-control" name="description"></textarea>
    </div>
    <div>
        <label>Language</label>
        <select name="language_id" class="form-control">
            {{#each languages}}
            <option value="{{this.language_id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <label>Rental Duration</label>
        <input type="text" name="rental_duration" class="form-control"/>
    </div>
    <div>
        <label>Rental Rate</label>
        <input type="text" name="rental_rate" class="form-control"/>
    </div>
    <div>
        <label>Replacement Cost</label>
        <input type="text" name="replacement_cost" class="form-control"/>
    </div>

    <input type="submit" value="Create" class="btn btn-primary my-3"/>
</form>
{{/block}}

{{/extends}}